include ../mixins/button.pug

.stop-watch-container
    .digital-clock-container
        div(class='digital-clock-display-segment digital-clock-display-hours') #{`${hours.padStart(2, "0")}`}
        div.digital-clock-separator :
        div(class='digital-clock-display-segment digital-clock-display-minutes') #{`${minutes.padStart(2, "0")}`}
        div.digital-clock-separator :
        div(class='digital-clock-display-segment digital-clock-display-seconds') #{`${seconds.padStart(2, "0")}`}
        div.digital-clock-separator :
        div(class='digital-clock-display-segment digital-clock-display-hundreds') #{`${hundreds.padStart(3, "0")}`}
    .stop-watch-keypad-container
        +button('Run', ['stop-watch-run'])
        +button('Pause', ['stop-watch-pause'])
        +button('Resume', ['stop-watch-resume'])
        +button('Stop', ['stop-watch-stop'])
        +button('Clear', ['stop-watch-clear'])
